.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Crawler output
crawler/.scrapy/*
crawler/checkpoints/*

# Data
data/crawled_data.db
data/crawled_data.db-journal
data/index/*
data/target/*
tests/support/document_store.db